body {
    font-size: 13px;
    line-height: 0,8;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-family: "Cuprum", "Serif", "sans serif";
}

.product h1 {
  font-size: 30px;
  line-height: 1;
  color: rgb(50, 66, 92);
  font-weight: normal;
  font-family: "Cuprum", "Serif", "sans serif";
}

.index h2 {
      font-size: 30px;
      line-height: 1;
      color: rgb(61, 84, 110);
      font-weight: normal;
      font-family: "Cuprum", "Serif", "sans serif";
    }
