body {
    font-size: 13px;
    line-height: 0,8;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-family: "Cuprum", "Serif", "sans serif";
}

.product h1 {
  font-size: 30px;
  line-height: 1;
  color: rgb(50, 66, 92);
  font-weight: normal;
  font-family: "Cuprum", "Serif", "sans serif";
}

.index h2 {
      font-size: 30px;
      line-height: 1;
      color: rgb(61, 84, 110);
      font-weight: normal;
      font-family: "Cuprum", "Serif", "sans serif";
    }
.clearfix: :after {
  content: "";

  display: table;
  clear: both;
}
.main-header {
    background-color: rgba(0, 128, 0, 0.2);
}
.header-container {
  width: 940px;
}
.user-navigation {
  width: 1200px;

  margin: auto;

}
.about {
  float: left;
  width: 205px;
}
.contacts {
  float: left;
  width: 301px;
}
.user-block {
  float: right;
  width: 300px;
}
.section-navigation {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  background-color: rgba(255, 45, 82, 0.2);
}
